<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <title>Sleepers</title>

    <!-- Bootstrap CSS -->
    <link type="text/css" href="/static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" rel="stylesheet"/>
    <!--<link type="text/css" rel="stylesheet" href="/css/login-page.css" th:href="@{/css/login-page.css}"/>-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous"/>-->

</head>

<body>

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h1 class="text-center">Welcome to Sleepers</h1>
        </div>
        <form th:action="@{/login}" method="post">
        <div class="modal-body">
            <div class="form-group">
                <input type="text" th:name="email" class="form-control input-lg" placeholder="Email"/>
            </div>

            <div class="form-group">
                <input type="password"  th:name="password" class="form-control input-lg" placeholder="Password"/>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-block btn-lg btn-primary" value="Login"/>
                <span class="pull-right"><a th:href="@{/registration}">Register</a></span><span><a href="#">Forgot Password</a></span>
            </div>
        </div>
        </form>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
</body>
</html>